<title>Loja</title>
<img class="img-fluid container-fluid" style="padding: 0px;" src="images/store-background.png"
    alt="Imagem de atendente de callcenter utilizando roupa azul" />

<div class="container mt-3">
    <h1 class="text-primary">Produtos da OutSetos:</h1>
    <div class="row justify-content-center">
        {{#each produtos}}
        <div class="card ml-5" style="width: 18rem;">
            <img class="card-img-top" src="{{imagem}}" alt="Imagem do produto {{nome}}">
            <div class="card-body">
                <h5 class="card-title">{{nome}}</h5>
                <p class="card-text">Marca: {{marca}}</p>
                <p class="card-text">Quantidade em estoque: {{quantidade}}</p>
                 <p class="card-text">Descrição: {{descricao}}</p>
                <p class="card-text">Preço: R${{preco}}</p>
                <a href="/login" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        {{else}}
        <div class="alert alert-primary" role="alert">
            Não existem produtos cadastrados na loja!
        </div>
        {{/each}}
    </div>
<a href="/novoProduto" class="btn btn-primary">Cadastrar Produtoç</a>
</div>